<%- layout('./layouts/mainLayout.ejs') %>
    <div class="row h-100 d-flex justify-content-center mt-2">
        <div class="col-md px-0">
            <div class="row">
                <h1 class="text-center">Products List</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price($)</th>
                                <th scope="col">Stocks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0; i < products.length; i++ ) { %>
                                <tr>
                                    <td>
                                        <%- i + 1 %>
                                    </td>
                                    <td>
                                        <%- products[i].PRODUCTNAME %>
                                    </td>
                                    <td>
                                        <%- products[i].DESCRIPTION %>
                                    </td>
                                    <td>
                                        <%- products[i].PRICE.toFixed(2) %>
                                    </td>
                                    <td>
                                        <%- products[i].STOCK %>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>