<%- layout('./layouts/mainLayout.ejs') %>
    <div class="row h-100 d-flex justify-content-center mt-2">
        <div class="col-md px-0">
            <div class="row">
                <h1 class="text-center">Products List</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price($)</th>
                                <th scope="col">Stocks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i=0; i < products.length; i++ ) { %>
                                <tr>
                                    <td>
                                        <%- i + 1 %>
                                    </td>
                                    <td>
                                        <%- products[i].PRODUCTNAME %>
                                    </td>
                                    <td>
                                        <%- products[i].DESCRIPTION %>
                                    </td>
                                    <td>
                                        <%- products[i].PRICE.toFixed(2) %>
                                    </td>
                                    <td>
                                        <%- products[i].STOCK %>
                                    </td>
                                    <td>
                                        <form action="/basket-items" method="post">
                                            <label for="quantity">Quantity</label>
                                            <select name="quantity" id="quantity">
                                                <% for( let i=1; i < 11; i++ ) { %>
                                                    <option value=<%- i %> > <%- i %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <label for="idBasket" class="ms-1">Basket Id</label>
                                            <select name="idbasket" id="idbasket">
                                                <option selected></option>
                                                <% for( let i=0 ; i < idbaskets.length; i++ ) { %>

                                                    <option value=<%- idbaskets[i].IDBASKET %> > <%-
                                                            idbaskets[i].IDBASKET %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                            <input type="hidden" name="idproduct" value=<%- products[i].IDPRODUCT %> >
                                            <input type="hidden" name="price" value=<%- products[i].PRICE %> >
                                            <button class="btn btn-success">Add to cart</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>